body {
  font-family: 'Maison Neue', sans-serif;
  background-color: #FBFBFA;
}

*:focus {
  outline: 0;
}

.main-navigation-bar {
  display: flex;
  border-bottom: 1px solid black;
  height: 65px;
  align-items: center;
  justify-content: center;
}
  
  #nav-bar-1 {
    flex: 0 0 auto;
    margin: 0 %;
  }
  
  #nav-bar-2 {
    flex: 1 1 auto;
    text-align: center;
  }
  
  #nav-bar-3 {
    flex: 0 0 auto;
    margin: 0 10%;
  }

  a.black-link {
    color: black;
    text-decoration: none;
    font-weight: 3;
    font-size: 13px;
    color: black;
    margin: 0 25px;
  }

/* Header w/ project owner information and title + description */
.header-container {
  display: flex;
  align-items: center;
  margin: 30px 10% 20px 10%;
}

.header-owner {
  flex: 1;
  height: 150px;
  margin: 0 25px 0 0px;
}
  
  .avatar {
    height: 50px;
    border-radius: 50%;
  }

  a.gray-link {
    color: lightgray;
    text-decoration: none;
    font-weight: 3;
    font-size: 13px;
    color: rgba(90,90,90,1);
  }

  a:hover {
    color: black;
    text-decoration: none;
  }
  
  #author {
    text-indent: -25px;
  }

.header-title {
  flex: 5;
  height: 125px;
  margin: -20px 0 0 -10px;
}
  
  #project-tagline {
    color: rgba(90,90,90,1);
    font-size: 18px;
    font-weight: 3;
  }

/* Video player and RHS 'status' container */
.player-and-status-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.player-box {
  flex: 2;
}

  #iframe-player {
    width: 90%;
    height: 100%;
  }

  .playlink {
    margin: 15px 5px 0 15px;
    color: black;
    font-size: 16px;
  }

.status-box {
  flex: 1;
  width: 500px;
}

  progress {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    color: #037362;
  }

  #funds-raised {
    font-size: 24px;
    color: #037362;
  }

  .project-stats {
    font-size: 24px;
    color: black;
  }

  .project-stats-text {
    font-size: 14px;
    color: rgba(90,90,90,1)
  }

  button.status {
    background-color: #009E74;
    color: white;
    font-size: 14px;
    border: none;
    margin: 0 0 15px 0;
    height: 50px;
  }

    #back-project {
      width: 100%;
    }

    #follow-project {
      background-color: white;
      color: black;
      width: 50%;
      height: 40px;
      border: 1px solid lightgray;
      margin: 0 25px 0 0;
    }

    #follow-project:hover {
      border: 1px solid black;
      box-shadow: 0 0 0 0px;
    }

  button.status:hover {
    background-color: #037362;
    position: relative;
    top: -1px;
  }

/*Glyphicons for social media and below player information*/
  i {
    margin: 0 20px 0 0;
  }

  #project-term {
    font-size: 12px;
    width: 350px;
    word-wrap: true;
  }

/*Modal utilities (x and close buttons)*/
.close-project-modal {
  text-align: center;
  background-color: rgba(200,200,200,0);
  border: none;
  font-size: 14px;
  text-decoration: underline;
}

.x-button {
  float: right;
  font-size: 20px;
  text-decoration: none;
}

/*Back project (ie: make contribution) modal*/
.back-project-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  overflow: auto;
  background-color: rgba(200,200,200,0.98);
}

  .back-project-form {
    margin: auto auto;
    width: 100%;
    max-height: 90%;
    overflow: scroll;
    background-color: #FBFBFA;
  }

    .back-project-form-header {
      padding: 20px 20px;
      border-bottom: 1px solid black;
      text-align: center;
    }


    .back-project-title {
      padding: 5px 0 0 0;
      height: 100px;
      background-color: rgb(245,245,245);
      border-bottom: 1px solid lightgray;
      text-align: center;
    }

    .back-project-form-main {
      display: flex;
      padding: 50px;
    }

      .back-project-form-pledges {
        flex: 3;
        height: 500px;
      }

        .list-project-pledges {
          list-style: none;
        }

        .list-project-pledge-item {
          margin: 20px 0 0 -40px;
          padding: 5px;
          height: 50px;
          width: 500px;
          border: 1px solid lightgray;
        }

      .back-project-form-info {
        flex: 2;
        height: 500px;
        font-size: 10px;
      }

      .frequently-asked-questions {
        list-style: none;
      }

      .faq-question {
        margin: 0 0 0 -40px;
        font-size: 11px;
      }

/*Modal with information about the owner of the project*/
.owner-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10% 30%;
  overflow: auto;
  background-color: rgba(200,200,200,0.98);
}

  .owner-modal-display {
    margin: 0 auto;
    padding: 10px 50px;
    width: 100%;
    height: 75%;
    overflow: scroll;
    background-color: #FBFBFA;
  }

  .owner-summary {
    margin: 25px 0 0 0;
    font-size: 16px;
  }

/*Modal with links and snippet about other projects the owner has created*/
.other-projects-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10% 30%;
  overflow: scroll;
  background-color: rgba(200,200,200,0.98);
}

  .other-projects-display {
    margin: 0 auto;
    padding: 10px 50px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #FBFBFA;
  }

/*Modal that appears when user is not signed in but wants to follow project*/
.follow-project-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20% 35%;
  background-color: rgba(200,200,200,0.98);
}

  .follow-project-display {
    margin: 0 auto;
    padding: 5px 25px;
    width: 100%;
    height: 100%;
    background-color: #FBFBFA;
  }