.follow-project-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20% 35%;
  background-color: rgba(200,200,200,0.98);
}

  .follow-project-display {
    margin: 0 auto;
    padding: 5px 25px;
    width: 100%;
    height: 100%;
    background-color: #FBFBFA;
  }