body {
  font-family: 'Maison Neue', sans-serif;
  background-color: #FBFBFA;
}

  a.black-link {
    color: black;
    text-decoration: none;
    font-weight: 3;
    font-size: 13px;
    color: black;
    margin: 0 25px;
  }

  a.gray-link {
    color: lightgray;
    text-decoration: none;
    font-weight: 3;
    font-size: 13px;
    color: rgba(90,90,90,1);
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  i {
    margin: 0 20px 0 0;
  }

  #project-term {
    font-size: 12px;
    width: 350px;
    word-wrap: true;
  }

.close-project-modal {
  text-align: center;
  background-color: rgba(200,200,200,0);
  border: none;
  font-size: 14px;
  text-decoration: underline;
}

.x-button {
  float: right;
  font-size: 20px;
  text-decoration: none;
}